In [ ]:
import numpy as np
from scipy.stats import norm

# Sample data
sample_mean = 5.2
population_mean = 5
population_stddev = 1
sample_size = 100

# Calculate the z-test statistic
z = (sample_mean - population_mean) / (population_stddev / np.sqrt(sample_size))

# Calculate the p-value
p_value = 1 - norm.cdf(z)

# Set the significance level (alpha)
alpha = 0.05

# Perform the z-test
if p_value < alpha:
    print("Reject the null hypothesis. The sample mean is significantly different from the population mean.")
else:
    print("Fail to reject the null hypothesis. The sample mean is not significantly different from the population mean.")

Reject the null hypothesis. The sample mean is significantly different from the population mean.

With dataset

In [ ]:
import numpy as np
import pandas as pd
from scipy.stats import norm

#load the dataset
data = pd.read_csv('/content/california_housing_train[1].csv')
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
# Extract the relevant data for comparison
sample_data = data['total_rooms']  # Sample data to be tested
population_mean = 5  # Known population mean
population_stddev = 1  # Known population standard deviation

# Calculate the sample statistics
sample_mean = np.mean(data['total_bedrooms'])  # Sample mean
sample_size = len('total_bedrooms')  # Sample size

# Calculate the z-test statistic
z = (sample_mean - population_mean) / (population_stddev / np.sqrt(sample_size))

# Calculate the p-value
p_value = 1 - norm.cdf(z)

# Set the significance level (alpha)
alpha = 0.05

#perform the z-test
if p_value < alpha:
  print ("Reject the null hypothesis.the sample mean is significantly different from the population mean.")
else:
    print("Fail to reject the null hypothesis. the sample mean is not significantly different from the population mean.")

Reject the null hypothesis.the sample mean is significantly different from the population mean.